<!doctype html>
<html lang="en">
  <head>
    <script src="js/index.js"></script>
      <body>
     </body>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
    <form action="/login" method="POST">
      name: <input type="text" name="username" />
      password:<input type="password" name="password" value="password" />
      <button type="submit_password" value="login">Sign In</button>
    </form>
    <br>
    <br>
    <form action="/register" method="POST">
    <button class = "button_subm">Register</button>
    <br>
    <br>
    </form>
    <h3>{{{msg}}}</h3>
  </body>
</html>