<!doctype html>
<html lang="en">
  <head>
    <script src="js/scripts.js"></script>
      <body>
     </body>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
  </head>
  <hgroup>
    <br>
    <br>
  <h1>CatBase</h1>
  <h2>A Cat Image Sharing Site!</h2>
  <h3>{{{msg}}}</h3>
  </hgroup>
  <body>
  <main class="container">
    <form action=""> <!--todo-->
      <input type="text" id="name" placeholder="Name">
      <input type="text" id="title" placeholder="Image Title">
      <input type="text" id="img" placeholder="Image URL">
      <br>
     <!-- <div class = "uploadbox">
      <h3>Upload Cat Image:</h3>
      <input type="file" id="img" accept="image/*" class = "img_upload">
      </div> -->
    </form>
    <br>
    <br>
    <button>Submit</button>
    <br>
    <button class = "contrast button_subm" id = "help">Manual Reload</button>
    </div>
    <br>
      <br>
      <br>
    <table id="groceryData"></table>
    <script src="js/scripts.js">
    </script>
  </main>
  </body>
</html>
